*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
body > *{
    width: 100vh;
    overflow: hidden;
    padding-left: 5px;
    padding-right: 5px;
}
:root{
    font-size: 16px;
    font-family:'Poppins';
    color: rgb(54,54,54);
    margin: 0;
    padding: 0;
    --main1: rgb(243,243,243);
    --main2: rgb(255,132,91);
    --main3: rgb(93,66,211);
    --main4: rgb(54,54,54);
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color:var(--main1);
    overflow-x: hidden;
    box-sizing: border-box;
}

.div0{
    background-color: white;
    display: flex;
    z-index: 20;
    position:fixed;
    width: 100%;
    height: 80px;
}

.navbar{
    display: flex;
    margin: auto;
    z-index: 3;
    width: 100%;
    max-width: 1920px;
    align-self: center;
    height: 80px;
    font-size: 17px;
    background-color: white;
    align-items: center;
    justify-content: flex-end;
    background-image: url("logo2.png");
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 12%;
    z-index: 2;
}

.navbar a{
    color: var(--main4);
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
}

.nav a:hover{
    color: rgb(93,66,211);
    transition: 0.5s;
}

.navbar ul, .navbar li{
    display: inline;
}

.navicon{
    margin-right: 150px;
}

.navtext li{
    padding: 15px;
}

.navicon li{
    padding: 10px;
}

#menu-icon{
    margin-right: 80px;
    display: none;
}

.blank{
    height: 80px;
    width: 100%;
}
.div1{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    margin: auto;
}


.creative{
    width: 50%;
    min-width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 200px;
}

.cr{
    position: absolute;
    z-index: -1;
    font-family: 'Work Sans';
    color: white;
    font-size: 350px;
    left: -15%;
    top: -100%;
}

.creative p:nth-child(2){
    font-family: 'Work Sans';
    font-size: 85px;
    line-height: 70px;
}

.creative a{
    font-size: 14px;
    text-decoration: none;
    color:rgb(54,54,54);
    font-family:'Poppins';
}

.creative a i{
    padding: 25px;
    margin-right: 10px;
    margin-top: 25px;
    border-radius: 100%;
    background-color: white;
    border: 7px solid var(--main1);
}

.creative a i:hover{
    color: var(--main1);
    background-color: var(--main3);
    border-color: var(--main3);
}


.book{
    position: absolute;
    width: 50%;
    justify-self: flex-end;
    margin-right: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 0;
    background-color: var(--main2);
    border-top-left-radius: 500px;
    border-bottom-left-radius: 500px;
    margin-top: 20px;
    margin-bottom: 100px;
    z-index: -1;
}
.book img{
    height: 175%;
    margin-left: -100px;
    margin-top: -20px;
    padding-bottom: 200px;
    padding-right: auto;
}

.div2{
    display: flex;
    justify-content: center;
    padding-bottom: 200px;
    width: 100%;
    background-color: var(--main3);
}

.div2-inner{
    width: 1360px;
    max-width: 90%;
}

.head{
    width: 100%;
    height: 350px;
    color: var(--main1);
    font-size: 65px;
    line-height: 60px;
    font-weight: 400;
    padding-left: 10%;
    background-color: var(--main3);
    position: relative;
}

.head p{
    position: absolute;
    bottom: 0%;
    font-family: 'Work Sans';
}

.xx-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 1360px;
    max-width: 80%;
}

.xx{
    display: flex;
    width: 33.333%;
    min-width: 200px;
    height: 200px;
    display: grid;
    font-family:'Poppins';
    color:var(--main1);
    grid-template-rows: 2fr 5fr;
    grid-template-columns: 1fr 10fr;
    grid-template-areas:
    "i h3"
    "i t"
    ;
}

.xx h3{
    grid-area: h3;
    font-size: 17px;
    line-height: 17px;
    margin-bottom: 0px;
}

.xx p{
    grid-area: t;
    font-size: 14px;
    padding-right: 15px;
    margin-top: 0px;
    opacity: 0.8;
}

.xx i{
    grid-area: i;
    margin-right: 20px;
    margin-top: 25px;
}

.xx i:hover{
    margin-top: 20px;
    transition: 0.5s;
}

.div3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: var(--main4);
    border: 1px solid var(--main4);
    position: relative;
    padding-bottom: 150px;
    overflow: visible;
}

.div3-inner{
    display: flex;
    flex-direction: column;
    top: -250px;
    max-width: 100%;
}
.ports{
    justify-self: center;
    align-self: center;
    margin-top: -200px;
    width: 80%;
    max-width: 1366px;
    display: column;
    columns: 3;
    gap: 0;
}

.port{
    overflow: hidden;
    position: relative;
    width: 100%;
}

.port img{
    display: block;
    width: 100%;
    height: 100%;
    transition: 0.8s;
}

.port-bg , .port-content{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: 0.8s;
}

.port-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
}

.port-content p:nth-child(1){
    font-family: 'Work Sans';
    font-size: 28px;
    margin-bottom: 15px;
}

.port-content p:nth-child(2){
    font-family: 'Poppins';
    font-size: 13px;
    margin: 0;
    padding: 0;
    opacity: 0.9;
}


.port:hover img{
    transform: scale(1.3);
    transition: 0.8s;
}

.port:hover .port-bg{
    background-image: linear-gradient(45deg , orange,blue);
    opacity: 0.3;
    transition: 0.8s;
}

.port:hover .port-content{
    opacity: 1;
    color: white;
    margin-top: 0px;
    transition: 0.8s;
}

.btnx{
    margin-top: 60px;
    display: flex;
}

.btnx a{
    margin: auto;
    background-color: rgb(254,119,74);
    font-size: 14px;
    border-radius: 50px;
    font-family: 'Work Sans';
    color: white;
    text-decoration: none;
    padding: 23px 40px;
}

.btnx a:hover{
    background-color: var(--main2);
    transition: 0.7s;
}

.ach{
    margin-top: 150px;
    text-align: center;
    color: white;
}

.ach p:first-child{
    font-family: 'Work Sans';
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 0;
}

.ach p:nth-child(2){
    font-size: 20px;
    margin-top: 0;
}

.number-cards{
    display: flex;
    width: 100%;
    margin-top: 0;
    padding: 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card{
    margin-top: 50px;
    min-width: 150px;
}

.number-cards .card p:nth-child(1){
    font-family: 'Work Sans';
    padding-top: 0;
    margin-top: 0;
    font-size: 70px;
}

.number-cards .card p:nth-child(2){
    font-family: 'Poppins';
    padding-top: 0;
    margin-top: 0;
    font-size: 16px;
}

.number-cards .card p:nth-child(3){
    font-family: 'Poppins';
    padding-top: 0;
    margin-top: 0;
    font-size: 14px;
    color: rgb(8,215,181);
}

.div4{
    padding-top: 120px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-bottom: 150px;
}

.div4-inner{
    display: flex;
    flex-wrap: wrap;
    gap: 100px 70px;
    justify-content: center;
    align-self: center;
    width: 100%;
    max-width: 1360px;
    margin: auto;
}

.d4box{
    width: 40%;
    min-width: 400px;
    height: 280px;
    border-radius: 15px;
    z-index: 2;
}

.d4b1{
    position: relative;
    border: none;
}

.d4b1 p:nth-child(1){
    font-family: 'Work Sans';
    font-weight: 800;
    font-size: 60px;
    line-height: 60px;
    padding-bottom: 0;
    margin-bottom: 10px;
}

.d4b1 p:nth-child(2){
    font-family: 'Poppins';
    padding-right: 35%;
    padding-top: 0;
    margin-top: 0;
    font-size: 22px;
    font-weight: 500;
}

.ma{
    color: var(--main1);
    position: absolute;
    font-family: 'Work Sans';
    font-size: 300px;
    padding-right: 100px;
    top: -100%;
    z-index: -1;
}

.d4box:nth-of-type(2) , .d4box:nth-of-type(3) , .d4box:nth-of-type(4) {
    display: column;
    columns: 2;
    gap: 0;
    position: relative;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.left{
    height: 100%;
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 30px 0 20px;
}

.right p:nth-of-type(1){
    font-family: 'Work Sans';
    font-size: 18px;
    font-weight: 700;
}

.right p:nth-of-type(2){
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 600;
    color: rgb(0,180,157);
}

.right p:nth-of-type(3){
    font-family: 'Poppins';
    font-size: 15px;
    opacity: 0.8;
}



.d4box:nth-of-type(2) img , .d4box:nth-of-type(3) img , .d4box:nth-of-type(4) img{
    display: block;
    height: 100%;
    width: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.d4b2{
    height: 100%;
}

#lefter{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.btnx2{
    position: absolute;
    
    display: flex;
}

.btnx2 a{
    margin: auto;
    background-color: white;
    font-size: 14px;
    border-radius: 50px;
    font-family: 'Work Sans';
    color: rgb(93,66,211);
    text-decoration: none;
    padding: 1em 2em;
}

.btnx2 a:hover{
    background-color: rgb(93,66,211);
    color: white;
    transition: 0.7s;
}

.btnx3{
    margin: 90px auto 0 auto;
}

.btnx3 a{
    background-color: rgb(8,215,189);
    font-size: 14px;
    border-radius: 50px;
    font-family: 'Work Sans';
    color: white;
    text-decoration: none;
    padding: 23px 40px;
}

.btnx3 a:hover{
    background-color: rgb(0,232,201);
    transition: 0.7s;
}


.div5{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0;
    background-color: var(--main3);
}



.d5col{
    width: 33.3%;
    min-width: 340px;
    height: 600px;
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.d5col{
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.d5col .no{
    display: flex;
    flex-direction: column;
    position: absolute;
}

.no p:nth-of-type(1){
    position: absolute;
    font-size: 300px;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
    margin-left: -50px;
    color: rgb(103,76,219);
    text-shadow: 0 2px 10px rgba(0,0,0,0.3);
    z-index: 1;
}

.no p:nth-of-type(2){
    font-size: 48px;
    line-height: 54px;
    width: 70%;
    padding-top: 200px;
    justify-self: center;
    align-self: center;
    font-family: 'Work Sans';
    font-weight: 700;
    color:white;
    z-index: 2;
}

.no p:nth-of-type(3){
    width: 70%;
    font-size: 14px;
    opacity: 0.6;
    justify-self: center;
    align-self: center;
    font-family: 'Poppins';
    color:white;
    z-index: 2;
}

.div6{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--main1);
}

.div6 > p:nth-of-type(1){
    font-family: 'Work Sans';
    text-align: center;
    font-size: 50px;
    margin-top: 150px;
    margin-bottom: 0;
    font-weight: 700;
}

.div6 > p:nth-of-type(2){
    font-size: 24px;
    margin-top: 0;
    text-align: center;
}

.d6inner{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
    margin: auto;
    background-color: white;
    margin-bottom: 100px;
}

.d6inner img{
    margin: 100px auto 0 auto;
    height: 90px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

.d6text{
    display: flex;
    width: 80%;
    text-align: center;
    margin: 40px auto auto auto;
}

.d6text > p{
    display: block;
}

.d6text > p:nth-of-type(2){
    width: 80%;
    margin: 0 auto;
    font-size: 14px;
}

.d6text > p:nth-of-type(1) , .d6text > p:nth-of-type(3) {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 22px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.sponsors{
    display: flex;
    width: 100%;
    margin: auto;
    margin-bottom: 100px;
}

.sbox{
    margin: auto;
}

.div7{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    background-color: var(--main2);
}

.div7-inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 1920px;
    margin: auto;
    background-image: url(book.png);
    background-position-x: 50vw;
    background-position-y: 15%;
    background-size: 130vw;
    background-repeat: no-repeat;
    padding-top: 120px;
    padding-bottom: 120px;
}

.div7-inner > p{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    font-size: 54px;
    color: white;
    font-family: 'Work Sans';
    flex-basis: 30%;
    margin-left: 5%;
    flex-grow: 1;
}

form{
    display: flex;
    height: auto;
    align-items: center;
    margin-left: 0;
    margin-top: auto;
    margin-bottom: auto;
    flex-basis: 42%;
    flex-grow: 10;
}

form input:nth-of-type(1){
    margin-left: 5%;
    padding: 20px 20px 20px;
    border-radius: 40px;
    width: 60%;
    min-width: 150px;
}

form input:nth-of-type(1)::placeholder{
    opacity: 0.7;
    font-weight: 600;
    font-family: 'Poppins';
    font-size: 14px;
    padding-left: 10px;
    font-style: italic;
}

form input:nth-of-type(1):hover::placeholder{
    opacity: 0.3;
    transition: 0.7s;
}


form input:nth-of-type(2){
    background-color: rgb(8,215,189);
    font-size: 14px;
    border-radius: 50px;
    font-family: 'Work Sans';
    color: white;
    text-decoration: none;
    padding: 20px 40px;
    margin-left: 25px;
    margin-right: 50px;
}

form input:nth-of-type(1):focus{
    outline: none;
}

form input:nth-of-type(2):hover{
    cursor: pointer;
    background-color: rgb(0,232,201);
    transition: 0.7s;
}

.div8{
    display: flex;
    padding-top: 150px;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 150px;
    background-color: white;
}

.div8 > p:nth-of-type(1){
    font-family: 'Work Sans';
    font-size: 50px;
    margin-bottom: 0;
}

.div8 > p:nth-of-type(2){
    font-family: 'Poppins';
    margin-top: 0;
    font-size: 22px;
}

.div8-inner{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1360px;
}

.d8box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 33%;
    height: 380px;
    margin: 20px 20px 0 20px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1) , 0 -1px 10px rgba(0,0,0,0.1);
    border-radius: 15px;
}

.d8box:hover{
    box-shadow: 0 5px 5px rgba(0,0,0,0.1) , 5px 0 5px rgba(0,0,0,0.1) , -5px 0 5px rgba(0,0,0,0.1);
    transition: 0.4s;
}


.d8box i{
    border: 1px solid rgba(0,0,0,0.1);
    color: var(--main3);
    padding: 25px;
    border-radius: 100%;
    margin-bottom: 10px;
}

.d8box p:nth-of-type(1){
    font-family: 'Work Sans';
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    width: 70%;
}

.d8box p:nth-of-type(2){
    font-family: 'Poppins';
    margin-top: 0;
    width: 70%;
}

.btnx4{
    margin-top: 80px;
    margin-bottom: 100px;
    display: flex;
}

.btnx4 a{
    margin: auto;
    background-color: rgb(254,119,74);
    font-size: 16px;
    border-radius: 50px;
    font-family: 'Work Sans';
    color: white;
    text-decoration: none;
    padding: 23px 40px;
}

.btnx4 a:hover{
    background-color: var(--main2);
    transition: 0.7s;
}

.div9{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: var(--main4);
    padding: 100px 0;
    margin-bottom: 0;
}

.div9-inner{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
}

.d9cont{
    display: flex;
    flex-wrap: wrap;
    padding: 0 10%;
    justify-content: space-between;
}

.d9box{
    display: flex;
    flex-direction: column;
    text-align: left;
    flex-basis: 20%;
    min-width: 200px;
    padding: 20px;
}

.d9box p{
    color: white;
    width: 100%;
}

.d90{
    width: 100%;
    padding: 0 10% 20px 10%;
}

.d90 p:nth-of-type(1){
    font-family: 'Work Sans';
    font-size: 22px;
    margin-bottom: 0;
}

.d90 p:nth-of-type(2){
    font-family: 'Poppins';
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.d91 p:nth-of-type(1){
    font-family: 'Work Sans';
    font-size: 16px;
}

.d91 p:nth-of-type(2){
    font-family: 'Poppins';
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
    opacity: 0.8;
}

.d92 p:nth-of-type(1){
    font-family: 'Work Sans';
    font-size: 16px;
}

.d92 p:nth-of-type(2){
    font-family: 'Poppins';
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
    opacity: 0.8;
}

.d93 p{
    font-family: 'Work Sans';
    font-size: 16px;
}

.d93 span{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.d93 i{
    color: white;
    font-size: 30px;
    font-weight: 100;
}

.d93 i:hover{
    color: var(--main2);
    transition: 0.7s;
}

.d94{
    padding: 0;
    min-width: 250px;
}

.d94 p{
    font-family: 'Work Sans';
    font-size: 18px;
}

.d94 div{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.square {
    display: flex;
    width: 70px;
    height: 70px;
  }
  

.square:nth-of-type(1) {
    background-image: url(port1.jpg);
    background-size: cover;
}

.square:nth-of-type(2) {
    background-image: url(port2.jpg);
    background-size: cover;
}

.square:nth-of-type(3) {
    background-image: url(port3.jpg);
    background-size: cover;
}

.square:nth-of-type(4) {
    background-image: url(port4.jpg);
    background-size: cover;
}

.square:nth-of-type(5) {
    background-image: url(port5.jpg);
    background-size: cover;
}

.square:nth-of-type(6) {
    background-image: url(port6.jpg);
    background-size: cover;
}

.foot{
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #252525;
    color: white;
    width: 100%;
    margin: 0;
    padding: 25px;
    font-size: 14px;
}

.square-inner{
    background-color: var(--main3);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.7s;
}

.square-inner i{
    color: white;
    margin: auto;
    text-align: center;
    align-self: center;
    justify-self: center;
}

.square:hover .square-inner{
    cursor: pointer;
    opacity: 0.8;
    transition: 0.7s;
}

@media (max-width:1024px) {
    .navbar nav{
        display: none;
    }
    #menu-icon{
        display: block;
    }

    #menu-icon:hover nav{
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: #252525;
        width: 100%;
        left: 0;
        top: 55px;
        transition: 1s;
    }

    #menu-icon ul{
        display: flex;
        margin-top: 30px;
        flex-direction: column;
        transition: 1s;
    }
    .navtext-mini li{
        display: block;
        padding-bottom: 20px;
        margin: 0 50px;
    }

    .navtext-mini{
        margin-bottom: 0;
        padding-bottom: 0;
    }
    
    .navtext-mini a{
        opacity: 0.7;
    }
    .navtext-mini a:hover{
        opacity: 1;
        transition: 0.7s;
    }

    .navtext-mini li:not(:nth-of-type(1)){
        border-top: 0.5px solid rgba(255,255,255,0.3);
    }

    #menu-icon a{
        color: rgba(255,255,255,0.9);;
        font-family: 'Poppins';
        font-size: 14px;
    }

    .navicon-mini{
        display: grid !important;
        grid-template-areas:
        "a a"
        "b c";
        padding-top: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    .navicon-mini > * {
        border: 0.5px solid rgba(255,255,255,0.3);
    }

    .navicon-mini li:not(:nth-of-type(1)){
        display: flex;
    }

    .navicon-mini li:nth-of-type(1){
        border:none;
        grid-area: a;
    }

    .navicon-mini li:nth-of-type(1) > div{
        display: flex;
        padding: 0 50px;
    }

    #search{
        width: 100%;
        background-color: #252525;
        color: rgba(255,255,255,0.9);
        font-family: 'Poppins';
        font-size: 18px;
    }

    #search:focus{
        outline: none;
    }

    #searchbtn{
        width: 100px;
        font-size: 24px;
        background-color: #252525;
        color: rgba(255,255,255,0.9);;
    }

    #searchbtn:hover , #searchbtn:focus{
        cursor: pointer;
    }

    #search::placeholder{
        opacity: 0.7;
        color: rgba(255,255,255,0.9);;
        font-weight: 700;
        font-family: 'Work Sans';
        font-size: 24px;
        padding-left: 10px;
        font-style: italic;
    }

    .navicon-mini li:nth-of-type(2){
        grid-area: b;
    }

    .navicon-mini li:nth-of-type(3){
        grid-area: c;
    }

    .navicon-mini{
        text-align: center;
    }
    .navicon-mini i{
        padding: 30px 0;
        color: rgba(255,255,255,0.7);
    }

    .navicon-mini a{
        width: 100%;
        height: 100%;
    }

    .div8-inner{
        margin-top: 0;
    }
    .div8 p:nth-of-type(2){
        margin-bottom: 0;
    }

    .square {
        width: 60px;
        height: 60px;
    }

    .d9cont{
        padding: 0 5%;
    }

    .d90{
        padding: 0 5%;
    }
    
    .div7-inner > p{
        font-size: 40px;
    }

    .sponsors div:last-child{
        display: none;
    }
}

@media (max-width:800px) {
    .div1{
        padding: 0 0 0 50px;
    }

    .creative p:nth-of-type(2){
        font-size: 60px;
        transform: translate(-50px , 100px);
    }

    .book{
        margin-bottom: 20px;
    }

    .book img{
        height: 150%;
    }

    .head{
        display: flex;
        padding: 0;
        margin: 0;
        justify-content: center;
        align-items: center;
        
    }
    .head p:first-child{
        text-align: center;
        
    }
    .xx-container{
        flex-direction: column;
    }

    .xx{
        width: 60%;
    }

    .xx > h3{
        font-size: 22px;
    }

    .xx > p{
        font-size: 15px;
    }

    .ports{
        columns: 2;
    }
    .div4 , .div5 , .div8-inner , .d9cont{
        display: flex;
        flex-direction: column;
    }


    .d4box{
        width: 500px;
    }
    .d4box:nth-of-type(2){
        display: flex;
        flex-direction: column;
        height: 400px;

    }

    #lefter{
        width: 100%;
        height: 33%;
    }

    #righter{
        display: flex;
        padding: 30px 150px 50px 150px;
    }

    .btnx2 p{
        font-size: 14px;
    }

    #righter p{
        font-size: 14px;
    }

    #righter p:last-child{
        font-size: 12px;
    }


    #lefter img{
        object-fit: cover;
    }
    
    .d5col{
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .no p:nth-of-type(1){
        align-self: center;
        font-size: 350px;
    }

    .div7-inner{
        flex-direction: column;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .div7-inner > p{
        flex-basis: 0;
        margin-bottom: 30px;
        align-self: center;
        justify-self: center;
    }

    .div7-inner > form{
        margin-top: 0;
        flex-basis: 1;
    }

    .d8box{
        width: 80%;
        align-self: center;
    }

    .d90 , .d91 , .d92 , .d93{
        width: 25%;
    }

    .d90{
        margin-left: 5%;
    }

}


